.App {
  text-align: center;
  height: fit-content;
  background: url(./images/paper.png) no-repeat center top;
  color: rgb(92, 52, 1);
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 20px;
}

.App-container{
  padding: 150px 20px 0;
  height: 100%;
  width: 350px;
  overflow-y: auto;
}
